{# src/KE/MuseumBundle/Resources/views/Main/add.html.twig #}

{% extends "::base.html.twig" %}

{% block title %}
  Accueil - {{ parent() }}
{% endblock %}

{% block body %}
	<script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
  <style>
  #sortable { list-style-type: none; margin: 0; padding: 0; width: 60%; }
  #sortable li { margin: 0 3px 3px 3px; padding: 0.4em; padding-left: 1.5em; font-size: 1.4em; height: 18px; }
  #sortable li span { position: absolute; margin-left: -1.3em; }
  </style>
  <script type="text/javascript">
$(document).ready(function() {
    <span class="comment">// Initialise the table</span>
    $("#table-1").tableDnD();
});
</script>

        <h1>Consultation d'un étage</h1>
        
        <div class="table-responsive">
			
			<h2>
				Etat : 
				{% if etage.placeDisponible == etage.longueur %}
					<font color="green"> Vide</font>
				{% elseif etage.placeDisponible > 0%}
					<font color="blue"> Disponible</font>
				{% else %}
					<font color="red"> Plein</font>
				{% endif %}
			</h2>
			<h3>Caractéristique de l'étage : </h3>
			<div class="well">
			<table class="table">
				<tbody>
					<tr>
						<td> <b>Code</b> </td>
						<td> {{etage.code}} </td>
					</tr>
					<tr>
						<td> <b>Longueur </b></td>
						<td> {{etage.longueur}} </td>
					</tr>
					<tr>
						<td> <b>Largeur </b></td>
						<td> {{etage.largeur}} </td>
					</tr>
					<tr>
						<td> <b>Hauteur </b></td>
						<td> {{etage.hauteur}} </td>
					</tr>
					<tr>
						<td> <b>Place disponible </b></td>
						<td> {{etage.placeDisponible}} </td>
					</tr>
				</tbody>
			</table>
			</div>
		</div>
		
		<div class="table-responsive">
			<h3>Liste des Objets liés : </h3>
			<div class="well">
			<table class="table" id="table-1">
				<thead>
					<tr>
						<th>Code objet</th>
						<th>Nom</th>
						<th>Longueur</th>
						<th>Ordre</th>
						<th>Action</th>
					</tr>
				</thead>
				<tbody>
					{% for ordre in ordres %}
						{% for objet in objets %}
							{% if objet.id == ordre.idObjet %}
								<tr>
									<td>{{objet.code}}</td>
									<td>{{objet.nom}}</td>
									<td>{{objet.longueur}}</td>
									<td>{{ordre.ordre}}</td>
									<td>
										<a href="#" class="btn btn-default">
											<i class="glyphicon glyphicon-chevron-up"></i>
											Modifier ordre
										</a>
										<a href="#" class="btn btn-default">
											<i class="glyphicon glyphicon-chevron-down"></i>
											Modifier ordre
										</a>
									</td>
									<td>
										<a href="{{ path('etage_retirer_objet', {'codeEtage': etage.code, 'codeObjet': objet.code}) }}" class="btn btn-default">
											Retirer cette Objet
										</a>
									</td>
								</tr>
							{% endif %}
						{% endfor %}
					{% endfor %}
				</tbody>
			</table>
			</div>
		</div>
    </body>
{% endblock %}