{# src/KE/MuseumBundle/Resources/views/Main/add.html.twig #}

{% extends "::base.html.twig" %}

{% block title %}
  Accueil - {{ parent() }}
{% endblock %}

{% block body %}
        <h1>Consultation d'un étage</h1>
        
        <div class="table-responsive">
			
			<h2>
				Etat : 
				{% if etage.placeDisponible == etage.longueur %}
					<font color="green"> Vide</font>
				{% elseif etage.placeDisponible > 0%}
					<font color="blue"> Disponible</font>
				{% else %}
					<font color="red"> Plein</font>
				{% endif %}
			</h2>
			<h3>Caractéristique de l'étage : </h3>
			<div class="well">
			<table class="table">
				<tbody>
					<tr>
						<td> <b>Code</b> </td>
						<td> {{etage.code}} </td>
					</tr>
					<tr>
						<td> <b>Longueur </b></td>
						<td> {{etage.longueur}} </td>
					</tr>
					<tr>
						<td> <b>Largeur </b></td>
						<td> {{etage.largeur}} </td>
					</tr>
					<tr>
						<td> <b>Hauteur </b></td>
						<td> {{etage.hauteur}} </td>
					</tr>
					<tr>
						<td> <b>Place disponible </b></td>
						<td> {{etage.placeDisponible}} </td>
					</tr>
				</tbody>
			</table>
			</div>
		</div>
		
		<div class="table-responsive">
			<h3>Liste des Objets liés : </h3>
			<div class="well">
			<table class="table">
				<thead>
					<tr>
						<th>Code objet</th>
						<th>Nom</th>
						<th>Longueur</th>
						<th>Ordre</th>
						<th>Action</th>
					</tr>
				</thead>
				<tbody>
					{% for ordre in ordres %}
						{% for objet in objets %}
							{% if objet.id == ordre.idObjet %}
								<tr>
									<td>{{objet.code}}</td>
									<td>{{objet.nom}}</td>
									<td>{{objet.longueur}}</td>
									<td>{{ordre.ordre}}</td>
									<td>
										<a href="#" class="btn btn-default">
											<i class="glyphicon glyphicon-chevron-up"></i>
											Modifier ordre
										</a>
										<a href="#" class="btn btn-default">
											<i class="glyphicon glyphicon-chevron-down"></i>
											Modifier ordre
										</a>
									</td>
								</tr>
							{% endif %}
						{% endfor %}
					{% endfor %}
				</tbody>
			</table>
			</div>
		</div>
    </body>
{% endblock %}