{# src/KE/MuseumBundle/Resources/views/Main/add.html.twig #}

{% extends "::base.html.twig" %}

{% block title %}
  Accueil - {{ parent() }}
{% endblock %}

{% block body %}
        <h1>Consultation d'un étage</h1>
        
		{% if app.request.attributes.get('_route_params')['code'] is defined %}
			{% set param = app.request.attributes.get('_route_params') %}
		{% endif %}
		
		{% if param is defined %}
			<div class="alert alert-danger alert-dismissible" role="alert">
				<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<strong>Erreur ! </strong>
					L'étage {{ param['code'] }} n'existe pas.
			</div>	
		{% endif %}
		
		<h3>Recherche d'un étage</h3>
        <div class="well">
			{{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

			{# Les erreurs générales du formulaire. #}
			{{ form_errors(form) }}
	
			<div class="form-group">
				{# Génération du label. #}
				{{ form_label(form.code, "Code", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
	
				{# Affichage des erreurs pour ce champ précis. #}
				{{ form_errors(form.code) }}

				<div class="col-sm-4">
					{{ form_widget(form.code, {'attr': {'class': 'form-control'}}) }}
				</div>
			</div>
	
			
			<a href="{{ path('home') }}" class="btn btn-default">
				<i class="glyphicon glyphicon-chevron-left"></i>
				Retour à l'accueil
			</a>
			{{ form_widget(form.save, {'label': 'Consulter','attr': {'class': 'btn btn-primary'}}) }}

			{{ form_rest(form) }}
  
			{# Fermeture de la balise <form> du formulaire HTML #}
			{{ form_end(form) }}
		</div>
		<h3>Liste des étages</h3>
        <div class="well">
			<div class="table-responsive">
				<table class="table">
					<thead>
						<tr>
							<th>Code Etage</th>
							<th>Etat</th>
							<th>Armoire</th>
							<th>Place restante</th>
							<th>Action</th>
						</tr>
					</thead>
					<tbody>
					{% for etage in etages %}
					{% set pourcent = 100 - 100*etage.placeDisponible / etage.longueur %}
						<tr>
							<td>{{etage.code}}</td>
							<td width="50%">
								<div class="progress">
									<div class="progress-bar" role="progressbar" aria-valuenow="{{pourcent}}" aria-valuemin="0" aria-valuemax="100" style="width: {{pourcent}}%;">
										{{pourcent|number_format}}%
									</div>
								</div>
							</td>
							<td>
							{% for armoire in armoires %}								
								{% if armoire.id == etage.idArmoire %}
									{{ armoire.code }}
								{% endif %}								
							{% endfor %}
							</td>
							<td>{{etage.placeDisponible}}</td>
							<td>
								<a href="{{ path('etage_consult', {'code': etage.code}) }}" class="btn btn-default">
									<i class="glyphicon glyphicon-eye-open"></i>
								</a>
								<a href="{{ path('etage_edit', {'code': etage.code}) }}" class="btn btn-default">
									<i class="glyphicon glyphicon-edit"></i>
								</a>
								{% if etage.placeDisponible == etage.longueur %}
									<a href="{{ path('etage_delete', {'code': etage.code}) }}" class="btn btn-default">
										<i class="glyphicon glyphicon-trash"></i>
									</a>
								{% endif %}
							</td>
						</tr>
					{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
    </body>
{% endblock %}