{# src/KE/MuseumBundle/Resources/views/Main/add.html.twig #}

{% extends "::base.html.twig" %}

{% block title %}
  Accueil - {{ parent() }}
{% endblock %}

{% block body %}
        <h1>Consultation d'un étage</h1>
        
		<h3>Recherche d'un étage</h3>
        <div class="well">
			{{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

			{# Les erreurs générales du formulaire. #}
			{{ form_errors(form) }}
	
			<div class="form-group">
				{# Génération du label. #}
				{{ form_label(form.code, "Code", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
	
				{# Affichage des erreurs pour ce champ précis. #}
				{{ form_errors(form.code) }}

				<div class="col-sm-4">
					{{ form_widget(form.code, {'attr': {'class': 'form-control'}}) }}
				</div>
			</div>
	
			
			<a href="{{ path('home') }}" class="btn btn-default">
				<i class="glyphicon glyphicon-chevron-left"></i>
				Retour à l'accueil
			</a>
			{{ form_widget(form.save, {'label': 'Consulter','attr': {'class': 'btn btn-primary'}}) }}

			{{ form_rest(form) }}
  
			{# Fermeture de la balise <form> du formulaire HTML #}
			{{ form_end(form) }}
		</div>
		<h3>Liste des étages</h3>
        <div class="well">
			<div class="table-responsive">
				<table class="table">
					<thead>
						<tr>
							<th>Code Etage</th>
							<th>Etat</th>
							<th>Place restante</th>
							<th>Action</th>
						</tr>
					</thead>
					<tbody>
					{% for etage in etages %}
						<tr>
							<td>{{etage.code}}</td>
							<td>
								{% if etage.placeDisponible == etage.longueur %}
									<font color="green"> Vide</font>
								{% elseif etage.placeDisponible > 0%}
									<font color="blue"> Disponible</font>
								{% else %}
									<font color="red"> Plein</font>
								{% endif %}
							</td>
							<td>{{etage.placeDisponible}}</td>
							<td>
								<a href="{{ path('etage_consult', {'code': etage.code}) }}" class="btn btn-default">
									Consulter cet étage
								</a>
							</td>
						</tr>
					{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
    </body>
{% endblock %}