{# app/Resources/views/base.html.twig #}

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% block title %}Régie de collection de Musée{% endblock %}</title>

  {% block stylesheets %}
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  {% endblock %}

<script src="//code.jquery.com/jquery-1.11.2.min.js"></script>  
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
  
</head>

<body>
  <div class="container">
    <div id="header">
      {% image '@KEMuseumBundle/Resources/public/images/gestion_de_Musee.png' output='gestion_de_Musee.png' %}
		<img src="{{ asset_url }}" alt="bannière"/>
	  {% endimage %}
    </div>
	<br>

		<nav class="navbar navbar-static-top" role="navigation">
            <div class="navbar-inner">
                <div class="container">
                    <a class="btn btn-navbar" data-target=".navbar-invese-collapse" data-toggle="collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                    <ul class="nav navbar-nav">
                        <li><a href="{{ path('home') }}" style="border:1px solid #318CE7;">Accueil</a></li>
                        <li class="dropdown" style="border:1px solid #318CE7;">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                Objet
                                <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a tabindex="-1" href="{{ path('objet_add') }}">Ajouter un objet</a></li>
								<li><a tabindex="-1" href="{{ path('objet_index_consult') }}">Liste des objets</a></li>
                                <li><a tabindex="-1" href="{{ path('objet_index_place') }}">Placer un objet</a></li>
                            </ul>
                        </li>
						<li class="dropdown" style="border:1px solid #318CE7;">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                Etage
                                <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a tabindex="-1" href="{{ path('etage_add') }}">Ajouter un étage</a></li>
                                <li><a tabindex="-1" href="{{ path('etage_index_consult') }}">Liste des étages</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
	
	
	
    <div class="row">
      <div id="content" >
        {% block body %}
        {% endblock %}
      </div>
    </div>
	
    <hr>

    <footer>
      <p>Projet Etudiant - LANVIN Elyan / CROUILLERE Kévin</p>
    </footer>
  </div>

</body>
</html>