{# src/KE/MuseumBundle/Resources/views/Main/add.html.twig #}

{% extends "::base.html.twig" %}

{% block title %}
  Accueil - {{ parent() }}
{% endblock %}

{% block body %}
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>

        <h1>Consultation d'une armoire</h1>
        
        <div class="table-responsive">
			
			<h2>
				{% set nbEtage = etages|length %}
				Nombre d'étagères : {{nbEtage}}
			</h2>
			<h3> Action :
			<a href="{{ path('armoire_edit', {'code': armoire.code}) }}" class="btn btn-default">
				<i class="glyphicon glyphicon-edit"></i>
			</a>
			<a href="{{ path('armoire_delete', {'code': armoire.code}) }}" class="btn btn-default">
				<i class="glyphicon glyphicon-trash"></i>
			</a>
			</h3>
			<h3>Caractéristiques de l'armoire : </h3>
			<div class="well">
			<table class="table">
				<tbody>
					<tr>
						<td> <b>Code</b> </td>
						<td> {{armoire.code}} </td>
					</tr>
					<tr>
						<td> <b>Nombre d'étages </b></td>
						<td> {{nbEtage}} </td>
					</tr>
				</tbody>
			</table>
			</div>
		</div>
		
		<div class="table-responsive">
			<h3>Liste des étages : </h3>
			<div class="well">
			<table class="table" id="table-1">
				<thead>
					<tr>
						<th>Ordre</th>
						<th>Code étage</th>
						<th>Action</th>
					</tr>
				</thead>
				<tbody>
					{% for etage in etages %}
								<tr>
									<td>
										{% if etage.ordreArmoire > 1 %}
										<a href="{{ path('armoire_ordre_up', {'idArmoire': armoire.id, 'idEtage': etage.id}) }}" class="btn btn-default">
											<i class="glyphicon glyphicon-chevron-up"></i>
										</a>
										{% endif %}
										{% if etage.ordreArmoire != etages|length %}
										<a href="{{ path('armoire_ordre_down', {'idArmoire': armoire.id, 'idEtage': etage.id}) }}" class="btn btn-default">
											<i class="glyphicon glyphicon-chevron-down"></i>
										</a>
										{% endif %}
									</td>
									<td>{{etage.code}}</td>
									<td>
										<a href="{{ path('etage_consult', {'code': etage.code}) }}" class="btn btn-default">
											<i class="glyphicon glyphicon-eye-open"></i>
										</a>
									</td>
								</tr>
					{% endfor %}
				</tbody>
			</table>
			</div>
		</div>
		<div class="table-responsive">
			<h3>Vue de face d'ensemble : </h3></br>
			<div class="table-responsive">
			{% for etage in etages %}
					<div id="{{ etage.code }}" class="table-responsive" style="transform: scaleY(-1);height:{{etage.hauteur}};">
					<div style="clear:left;width:100%;height:10px;background:#582900;"></div>
					{% for ordre in ordres %}
					{% if etage.id == ordre.idEtage %}
						{% for objet in objets %}
							{% if objet.id == ordre.idObjet %}
								<div 
								id="{{objet.code}}"
								style="
								float:left;
								border-width:1px;
								border-style:solid;
								{% set objetLongueur = 0 %}
								{% set objetLongueur = objet.longueur*100/etage.longueur %}
								width:{{objetLongueur}}%;
								background:#E8C782;
								vertical-align:middle;
								text-align:center;
								-webkit-transform:rotate(180deg);
								transform: scaleY(-1);
								"><strong>{{objet.code}}</strong></div>
							{% endif %}
						{% endfor %}
					{% endif %}
					{% endfor %}
					</div>
			{% endfor %}
			</div>
		</div>
		<script>
			var calculerHauteurObjet = function() {
				{% for etage in etages %}
					{% for ordre in ordres %}
						{% if etage.id == ordre.idEtage %}
							{% for objet in objets %}
								jQuery(	'#{{objet.code}}').height(jQuery('#{{objet.code}}').width()*{{objet.hauteur}}/{{objet.longueur}});
							{% endfor %}
						{% endif %}
					{% endfor %}
				{% endfor %}
			};
			
			var calculerHauteurEtage = function() {
				{% for etage in etages %}
					jQuery(	'#{{etage.code}}').height(jQuery('#{{etage.code}}').width()*{{etage.hauteur}}/{{etage.longueur}});
				{% endfor %}
			};
			
			$(window).on('resize',calculerHauteurObjet);
			$(window).on('resize',calculerHauteurEtage);
			jQuery( document ).ready(calculerHauteurObjet);
			jQuery( document ).ready(calculerHauteurEtage);
			
		</script>
    </body>
{% endblock %}