{# src/KE/MuseumBundle/Resources/views/Main/index.html.twig #}

{% extends "::base.html.twig" %}

{% block title %}
  Accueil - {{ parent() }}
{% endblock %}

{% block body %}

  <hr>
  
	<h3>GENERAL</h3>
	{% set space = 0 %}
	{% set nbEtagePlein = 0 %}
	{% set nbEtageUse = 0 %}
	{% set nbEtageVide = 0 %}
	{% for etage in etages %}
		{% set space = space + etage.placeDisponible %}
		{% if etage.placeDisponible == 0 %}
			{% set nbEtagePlein = nbEtagePlein + 1 %}
		{% elseif etage.longueur == etage.placeDisponible %}
			{% set nbEtageVide = nbEtageVide + 1 %}
		{% else %}
			{% set nbEtageUse = nbEtageUse + 1 %}
		{% endif %}
	{% endfor %}
	
	
	{% set longAPlacer = 0 %}
	{% set objetsPlaces = 0 %}
	{% set objetsNonPlaces = 0 %}
	{% for ordre in ordres %}
		{% if ordre.idEtage == null %}
			{% set objetsNonPlaces = objetsNonPlaces + 1 %}
			{% for objet in objets %}
				{% if objet.id == ordre.idObjet %}
					{% set longAPlacer = longAPlacer + objet.longueur %}
				{% endif %}
			{% endfor %}	
		{% else %}
			{% set objetsPlaces = objetsPlaces + 1 %}
		{% endif %}
	{% endfor %}
	
	<p>
        Il reste <font color="blue"><b>{{ space }}</b></font> mm d'espace en longueur à utiliser sur les étagères.
		<br>La longueur totale des objets à placer est de <font color="blue"><b>{{ longAPlacer }}</b></font> mm.
    </p>
	<h3>ETAGERES</h3>
	<p>
        Il y a actuellement :
		<ul> 
			<li><font color="red"><b>{{ nbEtagePlein }}</b> étagères pleines.</font></li> 
			<li><font color="blue"><b>{{ nbEtageUse }}</b> étagères utilisées mais non-pleines.</font></li> 
			<li><font color="green"><b>{{ nbEtageVide }}</b> étagère vide.</font></li> 
		</ul>
    </p>
	<h3>OBJETS</h3>
	<p>
        Il y a actuellement :
		<ul> 
			<li> <font color="blue"><b>{{ objetsPlaces }}</b></font> objets placés.</li>
			<li> <font color="blue"><b>{{ objetsNonPlaces }}</b></font> objets en attente de placement.</li> 
		</ul>			
    </p>
	
{% endblock %}
