{# src/KE/MuseumBundle/Resources/views/Main/index.html.twig #}

{% extends "::base.html.twig" %}

{% block title %}
  Accueil - {{ parent() }}
{% endblock %}

{% block body %}

  {# On définit un sous-titre commun à toutes les pages du bundle, par exemple #}
  <h1>Accueil</h1>

  <hr>
  
	<h3>GENERAL</h3>
	{% set space = 0 %}
	{% set nbEtagePlein = 0 %}
	{% set nbEtageUse = 0 %}
	{% set nbEtageVide = 0 %}
	{% for etage in etages %}
		{% set space = space + etage.placeDisponible %}
		{% if etage.placeDisponible == 0 %}
			{% set nbEtagePlein = nbEtagePlein + 1 %}
		{% elseif etage.longueur == etage.placeDisponible %}
			{% set nbEtagePlein = nbEtageVide + 1 %}
		{% else %}
			{% set nbEtageUse = nbEtageUse + 1 %}
		{% endif %}
	{% endfor %}
	<p>
        Il reste <font color="blue"><b>{{ space }}</b></font> mm d'espace à utiliser sur les étagères.
		<br>La taille totale des objets à placer est de 620 mm.
    </p>
	<h3>ETAGERES</h3>
	<p>
        Il y a actuellement :
			<br>- <font color="red"><b>{{ nbEtagePlein }}</b> étagères pleines.</font>
			<br>- <font color="blue"><b>{{ nbEtageUse }}</b> étagères utilisées mais non-pleines.</font>
			<br>- <font color="green"><b>{{ nbEtageVide }}</b> étagère vide.</font>
    </p>
	<h3>OBJETS</h3>
	<p>
        Il y a actuellement :
			<br>- 5 objets placés.
			<br>- 7 objets en attente de placement.
    </p>
	
{% endblock %}
