{# src/KE/MuseumBundle/Resources/views/Main/index.html.twig #}

{% extends "::base.html.twig" %}

{% block title %}
  Accueil - {{ parent() }}
{% endblock %}

{% block body %}

{% set space = 0 %}
	{% set nbEtagePlein = 0 %}
	{% set nbEtageUse = 0 %}
	{% set nbEtageVide = 0 %}
	{% for etage in etages %}
		{% set space = space + etage.placeDisponible %}
		{% if etage.placeDisponible == 0 %}
			{% set nbEtagePlein = nbEtagePlein + 1 %}
		{% elseif etage.longueur == etage.placeDisponible %}
			{% set nbEtageVide = nbEtageVide + 1 %}
		{% else %}
			{% set nbEtageUse = nbEtageUse + 1 %}
		{% endif %}
	{% endfor %}
	
	{% set longAPlacer = 0 %}
	{% set objetsPlaces = 0 %}
	{% set objetsNonPlaces = 0 %}
	{% for ordre in ordres %}
		{% if ordre.idEtage == null %}
			{% set objetsNonPlaces = objetsNonPlaces + 1 %}
			{% for objet in objets %}
				{% if objet.id == ordre.idObjet %}
					{% set longAPlacer = longAPlacer + objet.longueur %}
				{% endif %}
			{% endfor %}	
		{% else %}
			{% set objetsPlaces = objetsPlaces + 1 %}
		{% endif %}
	{% endfor %}

	<script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">

      google.load('visualization', '1.0', {'packages':['corechart']});
      google.setOnLoadCallback(drawChart);
	  google.setOnLoadCallback(drawChart2);

      function drawChart() {
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Etat');
        data.addColumn('number', 'Nombre');
        data.addRows([
          ['Pleine', {{ nbEtagePlein }}],
          ['Usage partiel', {{ nbEtageUse }}],
		  ['Vide', {{ nbEtageVide }}]
        ]);

        var options = {'title':'Etat des étagères',
                       'width':800,
                       'height':600};

        var chart = new google.visualization.PieChart(document.getElementById('chart_etage'));
        chart.draw(data, options);
		}
		
		
		function drawChart2() {
        var data2 = new google.visualization.DataTable();
        data2.addColumn('string', 'Etat');
        data2.addColumn('number', 'Nombre');
        data2.addRows([
          ['Placés', {{ objetsPlaces }}],
          ['Non placés', {{ objetsNonPlaces }}]
        ]);

        var options2 = {'title':'Etat des objets',
                       'width':800,
                       'height':600};

        var chart2 = new google.visualization.PieChart(document.getElementById('chart_objet'));
        chart2.draw(data2, options2);
      }
    </script>

  <hr>
  
	<h3>GENERAL</h3>
	
	<p>
        Il reste <font color="blue"><b>{{ space }}</b></font> mm d'espace en longueur à utiliser sur les étagères.
		<br>La longueur totale des objets à placer est de <font color="blue"><b>{{ longAPlacer }}</b></font> mm.
    </p>
	<h3>ETAGERES</h3>
	<p>
		<ul> 
			<div id="chart_etage"></div>
		</ul>
    </p>
	<h3>OBJETS</h3>
	<p>
		<ul> 
			<div id="chart_objet"></div>
		</ul>			
    </p>
	
{% endblock %}
