{# src/KE/MuseumBundle/Resources/views/Main/add.html.twig #}

{% extends "::base.html.twig" %}

{% block title %}
  Accueil - {{ parent() }}
{% endblock %}

{% block body %}
        <h1>Suppression d'un objet</h1>
        
        <div class="well">
			{{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

			{# Les erreurs générales du formulaire. #}
			{{ form_errors(form) }}
	
			<div class="form-group">
				{# Génération du label. #}
				{{ form_label(form.code, "Code", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
	
				{# Affichage des erreurs pour ce champ précis. #}
				{{ form_errors(form.code) }}

				<div class="col-sm-4">
					{# Génération de l'input. #}
					{{ form_widget(form.code, {'attr': {'class': 'form-control', 'disabled' : 'disabled'}}) }}
				</div>
			</div>
	
			<div class="form-group">
				{# Génération du label. #}
				{{ form_label(form.nom, "Nom", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
	
				{# Affichage des erreurs pour ce champ précis. #}
				{{ form_errors(form.nom) }}

				<div class="col-sm-4">
					{# Génération de l'input. #}
					{{ form_widget(form.nom, {'attr': {'class': 'form-control', 'disabled' : 'disabled'}}) }}
				</div>
			</div>
			
			<div class="form-group">
				{# Génération du label. #}
				{{ form_label(form.longueur, "Longueur", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
	
				{# Affichage des erreurs pour ce champ précis. #}
				{{ form_errors(form.longueur) }}

				<div class="col-sm-4">
					{# Génération de l'input. #}
					{{ form_widget(form.longueur, {'attr': {'class': 'form-control', 'disabled' : 'disabled'}}) }}
				</div>
			</div>
			
			<div class="form-group">
				{# Génération du label. #}
				{{ form_label(form.profondeur, "Profondeur", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
	
				{# Affichage des erreurs pour ce champ précis. #}
				{{ form_errors(form.profondeur) }}

				<div class="col-sm-4">
					{# Génération de l'input. #}
					{{ form_widget(form.profondeur, {'attr': {'class': 'form-control', 'disabled' : 'disabled'}}) }}
				</div>
			</div>
			
			<div class="form-group">
				{# Génération du label. #}
				{{ form_label(form.hauteur, "Hauteur", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
	
				{# Affichage des erreurs pour ce champ précis. #}
				{{ form_errors(form.hauteur) }}

				<div class="col-sm-4">
					{# Génération de l'input. #}
					{{ form_widget(form.hauteur, {'attr': {'class': 'form-control', 'disabled' : 'disabled'}}) }}
				</div>
			</div>
			Êtes-vous sûr de vouloir supprimer cet objet ?
			
			{{ form_widget(form.save, {'label': 'Supprimer','attr': {'class': 'btn btn-danger'}}) }}

			{{ form_rest(form) }}
  
			{# Fermeture de la balise <form> du formulaire HTML #}
			{{ form_end(form) }}
		</div>
    </body>
{% endblock %}