{# src/KE/MuseumBundle/Resources/views/Main/add.html.twig #}

{% extends "::base.html.twig" %}

{% block title %}
  Accueil - {{ parent() }}
{% endblock %}

{% block body %}
        <h1>Mise en rayon d'un objet</h1>
        
		{% if app.request.attributes.get('_route_params')['code'] is defined %}
			{% set param = app.request.attributes.get('_route_params') %}
		{% endif %}
		
		{% if param is defined %}
			<div class="alert alert-danger alert-dismissible" role="alert">
				<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<strong>Erreur ! </strong>
					L'objet {{ param['code'] }} n'existe pas.
			</div>	
		{% endif %}
		
		<h3>Recherche d'un objet</h3>
        <div class="well">
			{{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

			{# Les erreurs générales du formulaire. #}
			{{ form_errors(form) }}
	
			<div class="form-group">
				{# Génération du label. #}
				{{ form_label(form.code, "Code", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
	
				{# Affichage des erreurs pour ce champ précis. #}
				{{ form_errors(form.code) }}

				<div class="col-sm-4">
					{# Génération de l'input. #}
					{{ form_widget(form.code, {'attr': {'class': 'form-control'}}) }}
				</div>
			</div>
	
			
			<a href="{{ path('home') }}" class="btn btn-default">
				<i class="glyphicon glyphicon-chevron-left"></i>
				Retour à l'accueil
			</a>
			{{ form_widget(form.save, {'label': 'Placer','attr': {'class': 'btn btn-primary'}}) }}

			{{ form_rest(form) }}
  
			{# Fermeture de la balise <form> du formulaire HTML #}
			{{ form_end(form) }}
		</div>
		
		<h3>Liste des objets non placé</h3>
		<div class="well">
			<div class="table-responsive">
				<table class="table">
					<thead>
						<tr>
							<th>Code Objet</th>
							<th>Nom</th>
							<th>Longueur</th>
							<th>Action</th>
						</tr>
					</thead>
					<tbody>
						{% for ordre in ordres %}
							{% if ordre.idEtage is null %}
								{% for objet in objets %}
									{% if objet.id == ordre.idObjet %}
										<tr>
											<td>{{objet.code}}</td>
											<td>{{objet.nom}}</td>
											<td>{{objet.longueur}}</td>
											<td>
												<a href="{{ path('objet_place', {'code': objet.code}) }}" class="btn btn-default">
													<i class="glyphicon glyphicon-chevron-right"></i>
													Placer cet objet
												</a>
											</td>
										</tr>
									{% endif %}
								{% endfor %}
							{% endif %}
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
    </body>
{% endblock %}