{# src/KE/MuseumBundle/Resources/views/Main/add.html.twig #}

{% extends "::base.html.twig" %}

{% block title %}
  Accueil - {{ parent() }}
{% endblock %}

{% block body %}
        <h1>Mise en rayon d'un objet</h1>
        
   {# <div class="well">#}
		<div class="table-responsive">
			<h2>Caractéristique de l'objet :</h2>
			<div class="well">
			<table class="table">
				<tbody>
					<tr>
						<td> <b>Code</b> </td>
						<td> {{objet.code}} </td>
					</tr>
					<tr>
						<td> <b>Nom </b></td>
						<td> {{objet.nom}} </td>
					</tr>
					<tr>
						<td> <b>Longueur </b></td>
						<td> {{objet.longueur}} </td>
					</tr>
					<tr>
						<td> <b>Largeur </b></td>
						<td> {{objet.largeur}} </td>
					</tr>
					<tr>
						<td> <b>Hauteur </b></td>
						<td> {{objet.hauteur}} </td>
					</tr>
				</tbody>
			</table>
			</div>
		</div>
		
		<div class="table-responsive">
			<h2>Etages :</h2>
			<div class="well">
			<table class="table">
				<thead>
				<tr>
					<th>Code Etage</th>
					<th>Etat</th>
					<th>Place restante</th>
					<th>Action</th>
				</tr>
				</thead>
				<tbody>
				{% for etage in etages %}
				<tr>
					<td>{{etage.code}}</td>
					<td>
						{% if etage.placeDisponible > objet.longueur %}
							<font color="green"> OK.</font>
						{% else %}
							<font color="red"> Pas assez de place.</font>
						{% endif %}
					</td>
					<td>{{etage.placeDisponible}}</td>
					<td>
						<a href="{{ path('etage_placement_objet', {'codeEtage': etage.code, 'codeObjet': objet.code}) }}" class="btn btn-default">
							Placer dans cette etage
						</a>
					</td>
				</tr>
				{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
    </body>
{% endblock %}